/* shared style */
* {
    margin: 0;
    padding: 0;
}


.noto-serif-normal {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.org {
    color: #E95A08;
}

.blk {
    color: #000000;
}

.crd-blk {
    color: #111111;
}

.crd-white {
    color: #FFFFFF;
}

.txt {
    color: rgba(0, 0, 0, 0.5);
}

.ftr-list {
    color: #6B7280;
}

.hm {
    color: #252432;
}

.sh {
    color: #8987A1;
}



/* nav */
nav {
    /* margin: 30px 150px 120px 150px; */
    margin: 30px 10vw;
    display: flex;
    justify-content: space-between;
}

nav ul li a {
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 48px;
    padding: 18px 0;
}

nav i {
    margin-right: 7px;
}

nav img {
    width: 135px;
    height: 82px;
}


/* banner */
.banner {
    display: flex;
    margin: 30px 10vw;
}

.banner img {
    width: 50%;
    padding-top: 6.6rem;
}

.banner .title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: .81rem;
}

.banner .description {
    font-weight: 1.3rem;
}

.banner .text {
    width: 50%;
    padding-top: 10rem;
}

/* our plant style */
.plant {
    margin: 0 10vw;
}


.plant h3 {
    font-size: 3.1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 7.5rem;
    margin-bottom: 1rem;
}

.plant>p {
    text-align: center;
    margin-bottom: 3rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem 1.25rem;
    width: 100%;
    max-width: 100%;
}

.card p {
    font-size: 1.3rem;
    text-align: center;
    margin-top: .6rem;
    margin-bottom: .9rem;
}

.card h5 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .9rem;
}

.card button {
    background-color: #E95A08;
    border: none;
    width: 100%;
    max-width: 100%;
    text-align: center;
    height: 3.1rem;
    margin-top: .6rem;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

html {
    overflow-x: hidden;

}

/* badge part style */
.container2 {
    display: flex;
    margin: 0 10vw;
    margin-top: 13.12rem;
    height: 37.31rem;
    gap: 5rem;
}

.bck-img {
    
    background-image: url("assets/flower-store.png");
    width: calc( (100% - 5rem) / 2 );
    background-size: cover;
       background-position: center;
        position: relative;
         

}
.badge{
    width: 17.87rem;
    height: 17.87rem;
    position: absolute;
    top: -8rem;
    /* left: 23rem; */
    left: clamp(2rem, 26vw, 23rem); 
}
.txt2 h2{
    font-size: 3.12rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}
.txt2 ul li{
    font-size: 1.37rem;
    margin-bottom: 1.37rem;
}

.txt2{
     display: flex;
    flex-direction: column;
    justify-content: center;  
     width: calc( (100% - 5rem) / 2 );
} 
/* deals part style */
.deals{
    margin: 0 10vw;
    text-align: center;
}
.deals h2{
    margin-top: 8.32rem;
    margin-bottom: .5rem;
    font-weight: bold;
    font-size: 3.12rem;
}
.deals p{
    font-size: 1.37rem;
    margin-bottom: 7.5rem;
    /* width: 55.5rem; */
}

/* flowers field part style */
.b-img{
    display: flex;
   
    gap: 1.5rem;
    margin: 0 10vw;
    margin-bottom: 7.5rem;
    text-align: center;
}
.d1{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    width: calc(40% - .75rem);
}
.d2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url("assets/deal-zabo.png");
    height: 26.5rem;
    width: calc(60% - .75rem);
    position: relative;
    border-radius: 1.25rem;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #FFFFFF;
}
.under-line{
    text-decoration: underline;
}
.gap{
    margin-bottom: .7rem;
}
.d3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url("assets/deal-bloom.png");
    height: calc(50% - .75rem);
    position: relative;
    border-radius: 1.25rem;
}
.d4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url("assets/deal-ana.png");
     height: calc(50% - .75rem);
     position: relative;
     border-radius: 1.25rem;
}

/* media */
@media screen and (max-width: 576px) {

    /* nav */

    nav {
       
        margin: .8rem 10vw;

    }

    nav img {
        width: 3.9rem;
        height: 2.3rem;
    }

    nav ul {
        gap: .8rem;
        padding: .75rem 0;
    }

    nav li:nth-child(1),
    nav li:nth-child(2),
    nav li:nth-child(3) {
        visibility: hidden;
    }

    /* banner */

    .banner {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .banner img {
        width: 100%;
        margin: 1.8rem 1rem;
        padding-top: 0;
    }

    .banner .title {
        font-size: 1.5rem;
        margin: 0 10vw 0 10vw;
    }

    .banner .description {
        font-size: .9rem;
        margin: 0 10vw 0 10vw;

    }

    .banner .text {
        width: 100%;
        margin: .8rem 1rem 1rem 1rem;
        padding-top: 0;

    }

    /* our plant style */
    .plant {
        margin: 0 10vw;
    }

    .br {
        display: none;
    }

    .plant h3 {
        font-size: 1.5rem;
        margin-top: 2rem;

    }

    .plant>p {
        margin-bottom: 1.6rem;

    }

    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }

    .card p {
        font-size: 1.4rem;
    }

    .card h5 {
        font-size: 1.4rem;
        margin-bottom: .8rem;
    }

    .card button {

        width: 100%;
        height: 3.1rem;
        margin-top: .8rem;
    }

    /* badge */
.container2 {
    margin: 0 10vw;
    margin-top: 2.56rem;
    height: 100%;
    gap: 1.1rem;
    flex-direction: column;
}
.badge{
    visibility: hidden;
}
.bck-img {
        width: 100%;
    height: 25rem;
    background-size: cover;
       background-position: center;      

}
.txt2 h2{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    
}
.txt2 ul li{
    font-size: .9rem;
    margin-bottom: 1rem;
}
.br2{
    display: none;
}
.txt2{
     display: block;
    text-align: start; 
     width: 100%;
} 
/* flower field style */

}